body{
    width: 100%;
    height: 100%;
}
.animate-charcter
{

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    blue,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#id{
    
}

#input{
    margin-bottom: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 18rem;
    border-style: solid;
    margin-bottom: 20px;
    margin-right: 80px;
}

.header{
    width: 50%;
    height: 10%;
    margin-left: 45%;

}
.titleA{
margin-left: 50%;
}
 #result{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.choice{
    width: 100%;
    height: 60px;
}